In [7]:
import pandas as pd
import datetime
import sys
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import xgboost as xgb
import re
from sklearn.metrics import roc_auc_score
from sklearn.metrics import auc
import matplotlib.pyplot as plt

In [2]:
IS_OFFLine = False

In [3]:
main_path = '/Users/Apple/datadata/littlethings/mashangjinrong'

In [4]:
train_auth = pd.read_csv(main_path + '/AI_risk_train_V3.0/train_auth_info.csv', parse_dates=['auth_time'])

In [5]:
train_auth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120929 entries, 0 to 120928
Data columns (total 4 columns):
id_card      82908 non-null object
auth_time    79244 non-null datetime64[ns]
phone        117589 non-null object
id           120929 non-null object
dtypes: datetime64[ns](1), object(3)
memory usage: 3.7+ MB

In [8]:
train_auth.head()

              id_card  auth_time        phone                  id
0  4****************0 2017-06-10  132****2008  501951980776722440
1                 NaN        NaT  187*****500  525890212484616200
2  5****************9 2015-10-10  135****3522  599309364691472392
3                 NaN        NaT  136*****651  582559913071350024
4  3****************0 2016-12-19  137****4241  599017959926534408